include README.md
recursive-include rfhub/static *
recursive-include rfhub/static/css *.css
recursive-include rfhub/static/fonts *
recursive-include rfhub/static/templates *.html
recursive-include rfhub/static *
recursive-exclude rfhub *~ #*#
